%html
  %head
    %title 3d Button | Chinmay Pandhare
    %link{:rel=>'stylesheet', :href=>'sass/style.css'}
    %meta{:name=>'author', :content=>'Chinmay Pandhare'}
    %meta{:name=>'description', :content=>'3D CSS Buttons'}
    %meta{:name=>'keywords', :content=>'CSS Button, Buttons'}

  %body
    %header
      .name 3D CSS Buttons
      .github
        %a{:href=>'https://github.com/ccpandhare/3dbutton',
        :rel=>'GitHub link'} View on GitHub
      .author Chinmay Pandhare
    %section#main
      .buttongroup
        %label Button
        %span
    %footer
      .copy &copy;2017 Chinmay Pandhare
